
* {
    margin : 0;
}

/* *************************************************************************** *
 * Main Page Header                                                            *
 * *************************************************************************** */
#myged-mainpage-header {
    background-color: #1e5a96;
}

#myged-mainpage-header H2 {
    float: left;
    padding : 4px 15px;
    color: white;
    font-size : 1.4em;
    align-items: baseline;
    margin : 13px 5px 3px 5px;
}

#myged-mainpage-header-infos {
    float: right;
    margin-right: 10px;
    margin-top : 13px;
    padding : 5px 10px ;
    background-color: #0d2c4a;
    color : white;
    font-size : 0.8em;
    border-radius: 3px;
}

/* Page Footer */
#myged-mainpage-footer {
    position : fixed;
    text-align: center;
    width : 100%;
    bottom: 0px;
    padding : 15px 0px;
    background-color : #1e5a96;
    color :white;
    font-size : 0.95em;
    clear: both;
}
